<div class="flex-grid-root" tabindex="0">
  <div class="header-container">
    <table class="header">
        <colgroup>
            <col ng-repeat="columnIndex in config.numColumns track by $index">
        </colgroup>
        <tbody>
        <tr>
            <th ng-repeat="(header, headerName) in config.headerMap" class="noselect sortable" ng-class="[header + '-column']" ng-click="headerCallback(header)">
                <div class="noselect">{{ headerName }}</div>
                <div class="sort-order-icon-container" ng-class="{'sort-ascending':sortMap[header].ascending, 'sort-descending': sortMap[header].ascending}">
                    <div class="sort-order-icon"></div>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
  </div>

  <div class="data-container">
    <table class="data">
        <colgroup>
            <col ng-repeat="columnIndex in config.numColumns track by $index">
        </colgroup>
        <tbody>
        <tr class="revealed" ng-repeat="item in config.data track by $index"  ng-init="rowIndex = $index" ng-class="{'selected': $index == selectedRowIndex}">
            <td ng-repeat="(header, headerName) in config.headerMap" ng-class="header + '-column'" ng-click="selectRow($event, rowIndex, $index)">{{item[header]}}</td>
        </tr>
        </tbody>
    </table>
  </div>
  <div class="data-grid-resizer" ng-repeat="handleIndex in config.numColumns.slice(0, -1) track by $index" ng-mousedown="resizeColumn($event)" data-index="{{ $index }}"></div>
</div>