.cm-ctab {
 background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
 background-position: right;
 background-repeat: no-repeat;
}

.cm-space {
    background: url('data:image/gif;base64,R0lGODlhFAAMAKIAAPoAAP6fn/6xsf/i4v/l5f/19f///wAAACH5BAkAAAYALAAAAAAUAAwAAAgrAA0IHEiwoMGDCBMqXMiwoUOCAwIEGPDQgAAAAAJUvJixYsQAAiqKHFkxIAA7');
    background-position: 57% 46%;
    background-repeat: no-repeat;
    opacity: 0.5;
}


.CodeMirror-scroll {
  min-height: 200px;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror{
    height:auto;
}
