.platform-mac {
    color: rgb(48, 57, 66);
    font-family: 'Lucida Grande', sans-serif;
}

#rootContainer {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.column-two .close{
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 100;
    cursor:pointer;
}

.CodeMirror{
    height: 100%;
    border-left: 1px solid #C9C9C9;
    font-size:13px;
}

* {
    box-sizing:border-box;
    min-height: 0;
    min-width: 0;
}



td {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.flex-container {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.columns{
    display: flex;
    flex: 1 1 calc(100% - 19px);
    height: 100%;
    border: none;
    flex-flow: row nowrap;
    position: relative;
}

.column-one {
    overflow-x:hidden;
    overflow-y:scroll;
    height: 100%;
    flex: 1 1 auto;
}


.column-two {
    background-color:gold;
    order: 2;
    height: 100%;
    flex: 1 1 auto;
    overflow-y:scroll;
}

.summary-bar {
    order: 3;
    z-index: 4;
    flex: 0 0 19px;
    padding-left: 5px;
    line-height: 18px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

textarea {
    display: flex;
    height:100%;
    width: 100%;
    resize: none;
    opacity: .9;
}