.panel.import-export-panel{
  .CodeMirror{
    border: none;
    border-top: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;      
    font-size: 13px;
  }
  
  .controls{
    background-color: #eee;
    border-top: 1px solid #ccc;
    display: flex;

    .button-danger {
      width: 100%;
      background-color: orangered;
    }
  }
}
  
.panel.history-grid-panel{
  .grid-body .grid-column:first-of-type{    
    border-left: none;
    cursor: pointer;
  }
}

.panel.history-code-panel{
  flex-basis: 70%;

  .CodeMirror{
    border: none;
    border-top: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;      
    font-size: 13px;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 100;
    cursor:pointer;
  }
}
