.panel.import-export-panel{
  .CodeMirror{
    border: none;
    border-top: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;      
    font-size: 13px;
  }
  
  .controls{
    background-color: #eee;
    border-top: 1px solid #ccc;
    display: flex;

    .button-danger {
      width: 100%;
      background-color: orangered;
    }
  }
}
  
.panel.history-grid-panel{
  .grid-body .grid-column:first-of-type{    

    .timestamp-subrow{
      color: #c7a99c;
      line-height: 11px;
      font-size: 9px;
    }

    border-left: none;
    cursor: pointer;
  }
}

.panel.history-code-panel{
  flex-basis: 70%;

  #ace-editor{
    border: none;
    border-top: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;      
    font-size: 13px;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 100;
    cursor:pointer;
  }
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

