/*
    Editor CSS
*/
.codearea{
    border: 1px solid rgb(201, 201, 201);
}
          
/*Style the controls above the editor*/
#menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin-top: 8px;
    border-top: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
}

#menu-bar .controls{
    display: flex;
    font-size: 20px
}

#menu-bar .namespace{
    display: flex;
    align-content: center;
    align-items: center;
    color: #888;
    font-weight: bold;
}

#showHistoryButton{
    padding-left: 10px;
}

#showWhitespaceButton{
    padding-left: 5px;
}

#showWhitespaceButton.checked{
    color:red;
}

/*
    Edit existing page elements CSS
*/

/*Give console table a fontsize setting, because the new code area inherits fontsize settings from it*/
#console{
	font-size: 10pt
}

#submitbutton{
    float: left;
    height: 30px;
}

/*Remove padding on header*/
#ae-content h3{
	padding: 0px;
}

