.flex-grid{
    height: 100%;
}

.search-bar{
  width: 100%;
  padding: 5px;
  display: flex;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: fixed;
  bottom: 19px;
}

.search-bar input{
  flex: 1 1 auto;
  border: 1px solid #ccc;
}

.search-bar input:focus{
  outline: none;
  border: 1px solid #68d;
}

.search-bar button{
  border-radius: 0px 7px 7px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: none;
  background-color: #eee;    
  outline: none;
  user-select: none;
}

.search-bar button:active{
  outline: none;
  background-color: #ddd;
}

.search-bar .close{
  cursor: pointer;
  padding: 0px 5px;
  margin-left: 5px;    
  align-content: center;
  text-align: center;
  line-height: 19px;
  border-radius: 5px;
  user-select: none;
}

.search-bar .close:hover{
  background-color: #ddd;
}

.flex-grid-root{
  color: rgb(48, 57, 66);
  font-size: 11px;
  font-family: 'Lucida Grande', sans-serif;
  box-sizing: border-box;
  height: inherit;
  overflow:hidden;
  position: relative;
}

.flex-grid-root:focus{
    outline: none;
}

.flex-grid-root table{
  table-layout: fixed;
  width: 100%;
  position: relative;
  border-spacing: 0;
  border-collapse: separate;
}

.flex-grid-root td, .flex-grid-root th{
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
  padding: 0 4px;

}

.flex-grid-root td{
  border-left: 1px solid #e1e1e1;
  height: 21px;

}

.flex-grid-root td:first-of-type{
  border-left: none;
  cursor: pointer;
}

.flex-grid-root th{
  height: 27px;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.flex-grid-root th.sortable{
  position:relative;
}

.flex-grid-root th .sort-order-icon-container{
    position: absolute;
    top: 1px;
    right: 3px;
    bottom: 1px;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 9px;
}

.flex-grid-root .sort-order-icon-container.sort-ascending .sort-order-icon::after{
  content: '▲';
}

.flex-grid-root .sort-order-icon-container.sort-descending .sort-order-icon::after{
  content: '▼';
}


.flex-grid-root th:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.flex-grid-root th:first-of-type{
  border-left: none;
}

.flex-grid-root th > div{
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.flex-grid-root .header-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 100;
}

.flex-grid-root .header-container [class*="-column"]{
  cursor: pointer;
}

.flex-grid-root .header-container tr{
  background-color: white;
}

.flex-grid-root .data-container{
  top: 27px;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: overlay;
  height: calc(100% - 29px);
}

.flex-grid-root .data-container tr:nth-child(odd){
  background-color:#EEEEEE;
}

.flex-grid-root .data-container tr:hover{
  background-color: rgba(56, 121, 217, 0.1);
}

.flex-grid-root .data-container tr.selected{
  background-color: #3879D9
}

.flex-grid-root .data-grid-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    z-index: 500;
    cursor: col-resize;
}

.flex-grid-root .data-grid-resizer[disabled=disabled]{
    pointer-events: none;
}

.corner{
  display: none;
}


.noselect{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

